@model IndianRestaurant.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="col-md-offset-3 col-md-6">
    

    <div>
        <h2 class="ttable-header">Item - Details</h2>
     
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Menu.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Menu.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OriginalImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OriginalImageUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThumbImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThumbImageUrl)
            </dd>
            <dt></dt>
            <dd style="padding-top:15px;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }, new { @class = "btn ttable-header" })
                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn ttable-header" })
            </dd>

        </dl>
    </div>
   
   </div>
    
