@model IndianRestaurant.Models.Mail
@{
    ViewBag.Title = "Contact";
}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <h2 class="ttable-header">@ViewBag.Title</h2>
                <br/>
              @*  <div class="alert btn-sample btn-sm alert-dismissible" id="AlertFlash" runat="server" visible="false">
    <asp:Label runat="server" ID="StatusLabel" />
                </div>*@
               @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
               {
                <div class="form-horizontal">
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn ttable-header" />
                        </div>
                    </div>
                    </div>
                    }
                    <!-- end contact form -->
                </div>
            <!-- start google map -->
            <div class="col-md-5">
            <img src="~/Assest/Contact.png" alt="Contact" />    
              </div>
            <!-- end google map -->
        </div>
    </div>
    </div>
