@using IndianRestaurant.Models
@model Item

@{
    ViewBag.Title = "ItemDetails";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@*
    * @File name : ItemDetails view
    * @Author : Ritesh Patel and Parvati Patel
    * @Website name : Taj Mahel(http://indianrestaurant.azurewebsites.net/)
    * @File description : This view provide specific item description.
*@
<div class="col-md-offset-1 col-md-11">
    @Html.ActionLink("Back to Menu", "Menu", "Home", new { @class = "btn ttable-header" })
    <table class="ttable">
        
        <tr>
            <td>
                <div class="col-md-offset-4 col-md-4"><h2 class="ttable-header">@Model.Name   <br/>$ @Model.Price</h2> </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="thumbnail">
                            <img src="~/Assest/Uploads/Originals/@Model.OriginalImageUrl" alt="@Model.Name">
                            </div>
                        
                          <p class="ttable-header">
                                @Model.Description
                            </p>
                        
                        </div>
                        </div>
</td>
        </tr>
       
    </table>
</div>
