@using IndianRestaurant.Models
@model IEnumerable<Menu>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="main">
    <table class="ttable">
        @foreach (var menu in Model)
        {
            <tr>
                <td>
                    <div class="col-md-offset-4 col-md-4"><h2 class="ttable-header">@menu.Name </h2> </div>
                
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        @foreach (var item in menu.Item)
                        {


                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("ItemDetails",new {id=item.ItemId})">
                                        <img src="~/Assest/Uploads/Thumbnails/@item.ThumbImageUrl" alt="@item.Name">
                                        </a>
                                        <div class="caption">
                                            <h4>
                                                <a href="@Url.Action("ItemDetails",new {id=item.ItemId})">@item.Name</a>

                                            </h4>
                                            <p>@item.Description.Substring(0, 50) ...</p>
                                            <p>$ @item.Price</p>
                                        </div>
</div>
                            </div>

                        }
                    </div>
                    

                </td>
            </tr>

        }
    </table>
</div>
